#include <windows.h>

1 RT_MANIFEST "src/installer.manifest"

1 VERSIONINFO
 FILEVERSION 3,0,0,0
 PRODUCTVERSION 3,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040c04b0"
    BEGIN
      VALUE "CompanyName", "Humanitarian Data Platform"
      VALUE "FileDescription", "Installateur Windows natif"
      VALUE "FileVersion", "3.0.0"
      VALUE "InternalName", "HDPInstaller"
      VALUE "OriginalFilename", "HumanitarianDataPlatform_Setup_Native_GUI_v3.0.0.exe"
      VALUE "ProductName", "Humanitarian Data Platform"
      VALUE "ProductVersion", "3.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x040c, 1200
  END
END
